div{
  /*border: 1px solid black;*/
}

ul.station-list{
  margin: 0 3em;
  position: absolute;
  max-height: 10em;
  overflow-x: none;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
  list-style-type: none;
  padding-left: 0.5em;
}

ul.station-list>li.choice{
  cursor: pointer;
}

ul.station-list>li.choice:hover{
  background-color: #ddd;
}


.search-style{
  width: 80%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.search-component{
}

table.search_result{
  margin-top: 20px;
  width: 100%;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.search_result th, table.search_result td{
  border-right: 1px solid #ddd;
  text-align: right;
}
table.search_result tr:nth-child(even), table.search_result thead>tr{
  background-color: #eee;
}